name: Dependabot Merge

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: >
      github.actor == 'dependabot[bot]'
      && github.event.pull_request.draft == false
      && github.event.pull_request.state == 'open'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          gh pr review ${{ github.event.pull_request.number }} --approve
          gh pr merge ${{ github.event.pull_request.number }} --auto --squash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{github.event.pull_request.html_url}}
