name: Dependabot Merge

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: >
      github.actor == 'dependabot[bot]'
      && github.event.pull_request.draft == false
      && github.event.pull_request.state == 'open'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - id: metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          gh pr review ${{ github.event.pull_request.number }} --approve
          gh pr merge ${{ github.event.pull_request.number }} --auto --squash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{github.event.pull_request.html_url}}
