name: Fuzz

on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  fuzz-parser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - uses: jidicula/go-fuzz-action@51ff419068d30a73ff05af55a183910369f6023b
        with:
          packages: ./parser
          fuzz-time: 30s
          fuzz-regexp: FuzzParser
          fuzz-minimize-time: 1m
          go-version: "1.25"

  fuzz-lexer:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - uses: jidicula/go-fuzz-action@51ff419068d30a73ff05af55a183910369f6023b
        with:
          packages: ./parser
          fuzz-time: 30s
          fuzz-regexp: FuzzLexer
          fuzz-minimize-time: 1m
          go-version: "1.25"

  fuzz-formatter:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - uses: jidicula/go-fuzz-action@51ff419068d30a73ff05af55a183910369f6023b
        with:
          packages: ./formatter
          fuzz-time: 30s
          fuzz-regexp: FuzzFormatter
          fuzz-minimize-time: 1m
          go-version: "1.25"
