name: goreleaser

on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6.0.0
        with:
          go-version-file: "go.mod"
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm
          cache-dependency-path: assets/package-lock.json
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --snapshot --skip publish --skip sign --clean
